<div class="border-top">
    <div class="project_main_container">
        <h2 class="text-center p-4">
            JS Projects
        </h2>
        <p>
            These projects all feature vanilla JS without any frameworks. They feature a variety of techniques, including API calls, object-oriented design, cloud storage, and manipulating the DOM.
        </p>

        <div class="p-4">
            <div class="p-3 d-inline-block">
                <h3 class="mb-3"> 
                    Battleship
                </h3>
                <%= image_tag("battleship-js.png", alt: "web battleship game screenshot", class: "float-right border float_image ml-3") %>
                <p>
                    The classic game of battleship. The game was implemented with an object-oriented design, using two-dimensional arrays for the boards and includes simple AI scripting.
                </p>
                <p>
                    <span><a href="https://github.com/spearw/battleship" target="_blank">Github Repo</a></span>
                </p> 
            </div>

            <div class="p-3 mt-3 d-inline-block">
                <h3 class="mb-3"> 
                    Restaurant Page
                </h3>
                <%= image_tag("restaurant-js.png", alt: "mock restaurant page", class: "float-left border float_image mr-3") %>
                <p>
                    A multi-page website layout using JS to manipulate the DOM into rendering each page on click events.
                </p>
                <p>
                    <span><a href="https://github.com/spearw/restaurantPage" target="_blank">Github Repo</a></span>
                </p> 
            </div>

            <div class="p-3 d-inline-block">
                <h3 class="mb-3"> 
                    Book Catalog
                </h3>
                <%= image_tag("catalog-js.png", alt: "book catalog app screenshot", class: "float-right border float_image ml-3") %>
                <p>
                    A simple book library app that connects with a Firebase cloud storage.
                </p>
                <p>
                    <span><a href="https://github.com/spearw/library" target="_blank">Github Repo</a></span>
                </p> 
            </div>

            <div class="p-3 mt-3 d-inline-block">
                <h3 class="mb-3"> 
                    API Weather App
                </h3>
                <%= image_tag("weather-js.png", alt: "app displaying weather in New York", class: "float-left border float_image mr-3") %>
                <p>
                    A lightweight API weather app that requests information about the current weather based on a location input, and then displays a GIF of the appropriate weather along with the information.
                </p>
                <p>
                    <span><a href="https://github.com/spearw/weatherApp" target="_blank">Github Repo</a></span>
                </p> 
            </div>

            <div class="p-3 mt-3 d-inline-block">
                <h3 class="mb-3"> 
                    Etch-a-sketch
                </h3>
                <%= image_tag("etch-a-sketch-js.png", alt: "screenshot of etch-a-sketch app", class: "float-right border float_image ml-3") %>
                <p>
                    A css-manipulating JS app that recreates the classic Etch-a-Sketch toy with a few added features, such as colors and shading.
                </p>
                <p>
                    <span><a href="https://github.com/spearw/Etch-A-Sketch" target="_blank">Github Repo</a></span>
                </p> 
            </div>

            <div class="p-3 d-inline-block">
                <h3 class="mb-3"> 
                    Calculator
                </h3>
                <%= image_tag("calculator-js.png", alt: "calculator app screenshot", class: "float-left border float_image mr-3") %>
                <p>
                    A calculator app featuring a reverse-polish notation calculator with unlimited stack size.
                </p>
                <p>
                    <span><a href="https://github.com/spearw/calculator" target="_blank">Github Repo</a></span>
                </p> 
            </div>
        </div>
    </div>
</div>
