<div class="project_container hidden">
    <%= link_to image_tag("fitbit-logo", alt: "Fitbit logo"), {controller: 'pages', action: 'fitbit'}, lazy: true %>
    <span>
        Fitbit API Research Project
    </span>
</div>
<div class="project_container hidden">
    <%= link_to image_tag("cyrusofchaos-logo", alt: "CyrusOfChaos logo"), {controller: 'pages', action: 'ncaa'}, lazy: true %>
    <span>
        NCAA Fencing Calculations
    </span>
</div>
<div class="project_container hidden">
    <%= link_to image_tag("springbok-logo", alt: "springbok llc logo"), {controller: 'pages', action: 'system_planning_toolbox'}, lazy: true %>
    <span>
        System Planning Toolbox
    </span>
</div>
<div class="project_container hidden">
    <%= link_to image_tag("geneticslab-graph-solo", alt: "graph of hypothetical phenotype frequency"), {controller: 'pages', action: 'genetics'}, lazy: true %>
    <span>
        NYU Population Genetics Lab
    </span>
</div>
<div class="project_container hidden">
    <%= link_to image_tag("CSS3-logo", alt: "CSS three logo"), {controller: 'pages', action: 'css'}, lazy: true %>
    <span>
        CSS Projects
    </span>
</div>
<div class="project_container hidden">
    <%= link_to image_tag("will-photo-small-min"), lazy: true %>
    <span>
        Sample Project
    </span>
</div>